html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
  height: 100%;
  width: 100%;
  position: relative; 
}

#globe {
  cursor: grab;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#globe:active {
  cursor: grabbing;
}

#region {
  position: absolute;
  z-index: 9999; 
  pointer-events: none;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  */
  white-space: nowrap; 
}

button {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-top: 7px;
  right: 0;
}
